# --- SERVER CONFIG ---
PORT=3000

# --- DATABASE CONFIG ---
# Impostare su LOCAL per sviluppo sulla macchina locale, ATLAS per server online
DB_MODE=LOCAL

# Stringa per MongoDB locale 
MONGO_LOCAL=mongodb://127.0.0.1:27017/PeakAware

# Stringa per MongoDB Atlas
# Sostituire <username>, <password> e <cluster-url> con i propri dati nel file .env privato
MONGO_ATLAS=mongodb+srv://<username>:<password>@<cluster-url>.mongodb.net/PeakAware?retryWrites=true&w=majority

JWT_SECRET=your_jwt_secret_key_2026 # Sostituire con una chiave segreta complessa e sicura per la firma dei token JWT, essenziale per eseguire il login