@import "leaflet/dist/leaflet.css";

/* altezza della finestra per la mappa*/
.map-container {
  height: 500px;
  width: 100%;
}

/* app.css o styles.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

app-root {
  display: block;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #F4F6F7;
  color: #1a1a1a;
}

a {
  text-decoration: none;
}